* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7f9;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 25px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}